.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

    .home-container h1 {
        font-size: 60px;
        color: #53adb5;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .home-container h2 {
        font-size: 30px;
        color: #98d9d4;
        margin-bottom: 15px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

.home-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

    .home-buttons button {
        background-color: #53adb5;
        color: white;
        padding: 30px 50px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

        .home-buttons button:hover {
            background-color: #3e8187;
        }