.login-container {
    max-width: 400px;
    margin: auto;
}

    .login-container h2 {
        font-size: 40px;
        color: #53adb5;
        margin: 15px auto;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    .login-container img {
        margin: 30px auto;
        display: block;
    }

    .login-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.login-input-group {
    margin-bottom: 10px;
}

    .login-input-group label {
        font-size: 20px;
        color: #98d9d4;
        margin-bottom: 15px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .login-input-group input {
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
    }

.login-container button {
    background-color: #53adb5;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .login-container button:hover {
        background-color: #3e8187;
    }
