.navbar {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}

    .navbar a {
        color: white;
        text-decoration: none;
        margin: 0px 15px;
    }

    .navbar img {
        width: 30px;
        height: 30px;
        vertical-align: middle;
    }

    .navbar button {
        margin-left: 10px;
        background-color: #53adb5;
        color: white;
        padding: 10px 16px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;
    }

        .navbar button:hover {
            background-color: #3e8187;
        }

