.profile-logo-container {
    text-align: center;
    margin: 30px auto;
}

    .profile-logo-container img {
        max-width: 200px;
    }

.profile-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    border: 2px solid #53adb5;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #799c99;
}

    .profile-container h1 {
        font-size: 60px;
        color: #53adb5;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .profile-container h2 {
        font-size: 30px;
        color: #98d9d4;
        margin-bottom: 15px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .profile-container p {
        font-size: 30px;
        color: #98d9d4;
        margin-bottom: 15px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
