.game-container {
    text-align: center;
    background-color: #526063;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-container {
    text-align: center;
    background-color: #a4e0dc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .category-container h1 {
        font-size: 60px;
        color: #53adb5;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .category-container h2 {
        font-size: 30px;
        color: #53adb5;
        margin-bottom: 15px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .category-container span {
        font-size: 30px;
        font-weight: bold;
        margin-left: 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .category-container img {
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
    }

    .category-container ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .category-container li {
        display: flex;
        flex-direction: column;
        background-color: #53adb5;
        color: #fff;
        width: 250px;
        height: 200px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-items: center;
        text-align: center;
        justify-content: center;
        outline: 3px solid #214447;
    }

        .category-container li:hover {
            background-color: #3e8187;
        }

    .category-container p {
        margin: 10px 0;
    }

    .category-container p.feedback {
        color: #007bff;
        font-weight: bold;
    }


.quiz-container {
    text-align: center;
    background-color: #a4e0dc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .quiz-container h2 {
        font-size: 60px;
        color: #53adb5;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .quiz-container h3 {
        font-size: 40px;
        color: #18727a;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .quiz-container ul {
        list-style: none;
        padding: 0;
    }

    .quiz-container li {
        background-color: #53adb5;
        color: #fff;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .quiz-container li:hover {
        background-color: #3e8187;
    }

    .quiz-container p {
        margin: 10px 0;
        font-size: 40px;
        color: #000;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .quiz-container p.feedback {
        color: #007bff;
        font-weight: bold;
    }

    .quiz-container p.correct {
            color: green;
    }

    .quiz-container p.wrong {
            color: red;
    }

.summary {
    padding: 20px;
    background-color: #a4e0dc;
    border: none;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 30px auto;
}

    .summary h1 {
        font-size: 40px;
        color: #53adb5;
        margin-bottom: 20px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .summary p {
        margin: 10px 0;
        font-size: 30px;
        color: #000;
        margin-bottom: 20px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .summary button {
        background-color: #53adb5;
        color: white;
        padding: 30px 50px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 20px;
        transition: background-color 0.3s ease;
    }

        .summary button:hover {
            background-color: #3e8187;
        }
